<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <h1 class="site-title"></h1>
            <nav class="main-nav">
                <ul>
                    <li><a href="{% url 'task_list' %}">Home</a></li>
                    <li><a href="{% url 'task_create' %}">Create New Task</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        <form id="csrf-token">{% csrf_token %}</form>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
