<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Task Manager</h1>
        <nav>
            <ul>
                <li><a href="{% url 'task_list' %}">Home</a></li>
                <li><a href="{% url 'task_create' %}">Create New Task</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="csrf-token">{% csrf_token %}</form>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
