{% extends 'base.html' %}

{% block content %}
    <h2>Edit Task</h2>
   <form method="POST" style="display: flex; flex-direction: column; gap: 10px; max-width: 400px;">
        {% csrf_token %}
        <label for="title">Title:</label>
        {{ form.title }}

        <label for="description">Description:</label>
        {{ form.description }}

        <label for="status">Status:</label>
        {{ form.status }}

        <label for="priority">Priority:</label>
        {{ form.priority }}

        <label for="deadline">Deadline:</label>
        <input type="date" name="deadline" id="deadline" min="{{ today }}">

        <button type="submit">Save Task</button>
    </form>
{% endblock %}
